# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages

jobs:
  include:
  - r: devel
  - os: osx
  - r: release
    after_success:
    - Rscript -e 'covr::codecov()'

matrix:
  fast_finish: true